<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Main Page</title>
</head>
<body>
main page
<div>
{{id}}
{{role}}
</div>
<div>
	<a href="/admin">admin</a>
	<a href="/login">login</a>
	<a href="/join">join</a>
</div>
</body>
</html>